.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    width: 200px;
    height: 200px;

    div {
      width: 200px;
      height: 200px;
      border-width: 5px;

      &:nth-child(1) {
        border-color: #193344;
      }
    }
  }
}
